<link rel="stylesheet" href="css/dashboard.css">
<div id="dashboardPage" ng-controller="dashboardController">
  <h1>WELCOME! <br /> {{ticketRecord.firstname}}</h1>
  <div class="row">
    <div class="col s6">
      <div class="card darkpurple">
        <div class="card-content white-text">
          <img src="assets/suitcase.png" alt="" />
          <span class="card-title">{{luggage}}</span>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card darkpurple">
        <div class="card-content white-text">
          <img src="assets/sun.png" alt="" />
          <span class="card-title">{{temp}}°{{temperatureScale}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card darkpurple">
        <div class="card-content white-text">
          <img src="assets/customs-police.png" alt="" />
          <span class="card-title">{{waittime}} min wait</span>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="card darkpurple">
        <div class="card-content white-text">
          <div class="transport">
            <img src="assets/taxi.png" alt="" />
            <span class="card-title">{{taxi}} min</span>
          </div>
          <div class="transport">
            <img src="assets/public-transport-subway.png" alt="" />
            <span class="card-title">{{subway}} min</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a ng-click="getWhatToDo()" class="waves-effect waves-light btn btn-large airportal-btn btn-wide airportal-white">
    <div class="alignHelper"></div>
    <i class="mdfi_action_done"></i>
    <span>SHOW ME SOMETHING ELSE</span>
  </a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="alignHelper">
      </div>
      <div class="icon">
        <img src="{{imageSrc}}" alt="" />
      </div>
      <div class="text">
        <p>{{act}}</p>
        <p class="coloured">{{venue}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" ng-click="getWhatToDo()" class="modal-trigger modal-action modal-close waves-effect btn airportal-white"><i class="mdfi_content_clear"></i>NOPE</a>
      <a href="#!" ng-click="getWhatToDo()" class="modal-trigger modal-action modal-close waves-effect btn airportal-white"><i class="mdfi_action_done"></i>SOUNDS GOOD</a>
    </div>
  </div>
</div>
