<div id='landingPage' class='container' ng-controller="mainController">
  <a class="waves-effect waves-light btn airportal-primaryBtn">
    <div class="alignHelper"></div>
    <i class='customIcon qr_code'></i>
    <span>SCAN BOARDING PASS</span>
  </a>
  <a class="waves-effect waves-light btn airportal-secondaryBtn">
    <div class="alignHelper"></div>
    <i class="customIcon mdfi_action_help"></i>
    <span>I DON'T HAVE ONE</span>
  </a>
  <!-- <form action="/upload" method="post" enctype="multipart/form-data">
    <input name="profileImage" type="file" accept="image/*;capture=camera"/>
    <input type="submit"/>
  </form> -->
</div>
