// var override
$themeBG: #ffb500;
$themeRed: #f00032;
$themeOrange: #ff6600;
$themeWhite: #ffffff;
$themeGrey: #757575;
$themeLightGrey: #97867e;
$themeRed: #ea0000;
$themeGreen: #41cc00;
$themePurple: #ad0e72;
$darkPurple: #8c0b5d;
$themeOrange: #fe874a;
// custom variables
