@import 'colors';
body {
  background-color: $themePurple;
}

#dashboardPage {
  h1 {
    color: $themeWhite;
    text-align: center;
  }
  .card {
    &.darkpurple {
      background-color: $darkPurple;
    }
  }
  .card-content {
    text-align: center;
    img {
      max-height: 100px;
      margin: auto;
      display: block;
    }
  }

  .btn {
    &.btn-wide {
      width: 90% !important;
    }
  }
}
