@import 'colors';
#dashboardPage {
  background-color: $themePurple;
  background-image: url('../assets/background_arrival.png');
}

#dashboardPage {
  h1 {
    color: $themeWhite;
    text-align: center;
  }
  .card {
    min-height: 187px;
    &.darkpurple {
      background-color: $darkPurple;
    }
  }
  .card-content {
    text-align: center;
    img {
      max-height: 100px;
      margin: auto;
      display: block;
    }
    .transport img {
      width: 42px;
      display: inline-block;
      float: left;
    }
  }

  .btn {
    &.btn-wide {
      width: 90% !important;
      margin: 5em auto;
      display: block;
    }
  }


  .modal {
    .btn {
      float: none;
      box-shadow: none;
      background-color: transparent;
    }
    .modal-footer {
      width: 100%;
      margin: auto;
    }
    .modal-content {
      .icon {
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 60px;
        }
      }
      .text {
        width: 75%;
        padding: 0em 2em;
        display: inline-block;
        vertical-align: middle;
      }
      p {
        font-size: 1.2em;
        margin: 0;
      }
      .coloured {
        color: $themeOrange;
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }
}
